
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hata</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <hgroup>
        <h1>Hata</h1>
        <h2>Beklenmedik bir hata oluştu lüften ana sayfaya dönün.</h2>

    </hgroup>
    <a class="btn btn-secondary" href="/Default/Index/">Anasayfa</a>
</body>
</html>
