
@{
    ViewBag.Title = "AddSlider";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h3> Slider Ekle</h3>
<hr />

<form method="post">

    <div class="mt-3">
        <label>Başlık</label>
        <input type="text" name="SliderTitle" placeholder="Başlık yazınız" class="form-control" required />
    </div>

    <div class="mt-3">
        <label>Açıklama</label>
        <textarea name="SliderDes" placeholder="Açıklama yazınız" rows="3" class="form-control" required></textarea>
    </div>

    <div class="mt-3">
        <label>Fotoğraf Url</label>
        <input type="text" name="SliderImgUrl" placeholder="Fotoğraf url" class="form-control" required />
    </div>

    <br />
    <a class="btn btn-danger" href="/Admin/Slider/">İptal</a>


    <input type="submit" value="Kaydet" class="btn btn-success" />
</form>

