@model Casgem_CodeFirstProject.Dal.Entities.Admin

@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h3> Kullanıcı Güncelle</h3>
<hr />

<form method="post">

    <input type="hidden" name="AdminId" value="@Html.ValueFor(x=>x.AdminId)"  class="form-control" required />
    <input type="hidden" name="AdminStatus" value="@Html.ValueFor(x=>x.AdminStatus)" class="form-control" required />


    <div class="mt-3">
        <label>Kullanıcı Adı</label>
        <input type="text" name="AdminUserName" value="@Html.ValueFor(x=>x.AdminUserName)" placeholder="Kullanıcı adı" class="form-control" required />
    </div>

    <div class="mt-3">
        <label>Şifre</label>
        <input type="password" name="AdminPassword" value="@Html.ValueFor(x=>x.AdminPassword)" placeholder="Şifre" class="form-control" required />
    </div>


    <br />
    <a class="btn btn-danger" href="/Admin/ListUser/">İptal</a>
    <input type="submit" value="Güncelle" class="btn btn-warning" />
</form>


