@model List<Casgem_CodeFirstProject.Dal.Entities.Destination>



<section class="w3l-call-to-action_9">
    <div class="call-w3">
        <div class="container">
            <div class="booking-form-content">
                <div class="main-titles-head ">
                    <h3 class="header-name">
                        Uzmanlar Tarafından Planlanan En İyi Tatili Yaşayın!
                    </h3>
                    <p class="tiltle-para editContent "></p>
                </div>
                <form action="/Default/AddBooking/"  method="post" class="booking-form">
                    <div class="row book-form">
                        <div class="form-input col-md-4">
                            <label>Ad Soyad</label>
                            <input type="text" name="CustomerName" placeholder="Ad soyad" required="">
                        </div>
                        
                        <div class="form-input col-md-4">
                            <label>Mail</label>
                            <input type="email" name="Mail" placeholder="Mail" required="">
                        </div>
                        <div class="form-input col-md-4">
                            <label>Tur Adı</label>
                            <select name="Destination" class="selectpicker">
                                @foreach (var i in Model)
                                {
                                    <option value="@i.DestinationName">@i.DestinationName</option>
                                }
                            </select>

                        </div>
                       
                        <div class="form-input col-md-4 mt-3">

                            <label>Süre</label>
                            <select name="Duration" class="selectpicker">
                                <option value="1">1 Gün</option>
                                <option value="2">2 Gün</option>
                                <option value="3">3 Gün</option>
                                <option value="4">4 Gün</option>
                                <option value="5">5 Gün</option>
                                <option value="6">6 Gün</option>
                                <option value="7">7 Gün</option>
                                <option value="8">8 Gün</option>
                                <option value="9">9 Gün</option>
                                <option value="10">10 Gün</option>
                                <option value="11">10+ Gün</option>
                            </select>

                        </div>
                        <div class="form-input col-md-4 mt-3">
                            <label>Tarih</label>
                            <input type="date" name="BookingDate" placeholder="Date" required="">
                        </div>
                        <div class="bottom-btn col-md-4 mt-3">
                            <label>Submit</label>
                            <button  type="submit" class="btn btn-style btn-primary w-100 btn-style" 
                                    >Rezerve Et</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


